WRONGPW RCDATA "wrongpw.WAV"
WHOOSH RCDATA "whoosh.WAV"
BLING RCDATA "bling.WAV"
CLICK RCDATA "click.WAV"
SQLITE3DLL64BIT RCDATA "sqlite3.DLL"
SSLEAY32 RCDATA "ssleay32.DLL"
LIBEAY32 RCDATA "libeay32.DLL"
20ZEILENVORLAGE RCDATA "Dienstplan Vorlage 20 Zeilen.xlsm"
30ZEILENVORLAGE RCDATA "Dienstplan Vorlage 30 Zeilen.xlsm"
40ZEILENVORLAGE RCDATA "Dienstplan Vorlage 40 Zeilen.xlsm"